<!-- Los datos optenidos se retornan al html y se muestra en las tablas-->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Administración Productos</h1>
      <div class="row mt-5">
        <div class="col-sm-8">
            <table class="table table-hover table-dark" *ngIf="hayRegistros(); else sinarticulos">
              <thead>
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Pecio</th>
                  <th scope="col">Borrar</th>
                  <th scope="col">Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <!-- Cuando se preciona el boton seleccionar se da la instrccion que se muestre el
                articulo y precio y se manda a trar todos los datos con el *ngFor -->
                <tr *ngFor="let art of articulos">
                  <td>{{art.codigo}}</td>
                  <td>{{art.descripcion}}</td>
                  <td>{{art.precio}}</td>
                  <td><button class="btn btn-danger" (click)="baja(art.codigo)"><i
                        class="fas fa-trash-alt"></i></button></td>
                  <td><button class="btn btn-primary" (click)="seleccionar(art.codigo)">Seleccionar</button></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div>
                <ng-template #sinarticulos>
                  <p>No hay articulos.</p>
                </ng-template>
              </div>
              <p>
                Nombre:
                <input type="text" class="form-control" [(ngModel)]="art.descripcion" />
              </p>
              <p>
                Precio:<input type="number" class="form-control" [(ngModel)]="art.precio" />
              </p>
              <!-- La etiqueta button tiene enlazado la llamada al método 'alta' -->
              <p><button class="btn btn-success" (click)="alta()"><i class="fas fa-plus-circle"></i>Agregar</button>
                <button class="btn btn-warning" (click)="modificacion()"><i class="fas fa-edit"></i>Modificar</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>